* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    color: #333;
    background: #fff;
}

header {
  margin: 0 auto;
  width: 650px;
}

h1 {
  margin: 1rem;
  font-size: 1.5em;
  color: navy;
  text-align: center;
  
}
form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #333;
    border-radius: 1%;
    background-color: lightgray;
    display: grid;
}

fieldset {
  display: grid;
  grid-gap: .5rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 1rem;

}
legend {
  padding: 0.5rem;
  color: navy;
  font-size: 1.3em;
}
label, input, button, select, textarea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
label {
    text-align: left;
    padding-right: 1rem;
}
input, select, textarea {
  padding: 0.5rem;
  font-size: 1.1rem;
  text-align: center;
}

input[type="checkbox"]{
    width: 22px;
    height: 22px;
}
button {
  margin: 1rem;
  background-color: rgb(48, 97, 211);  
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 1.2rem;
}
button:hover{
    background-color: rgb(1, 148, 1);
}
footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: .8em;
    color: #777;
    border-top: 1px solid #ccc;
}
.form-item {
  display: grid;
  align-items: center;
}
.column1 {
    grid-template-columns: 3fr 1fr;
    margin: .5rem 0;
}
.column2 {
    grid-template-columns: 1fr 2fr;
}
