table {
  border-collapse: collapse;
  border: 2px solid rgb(157, 149, 149);
  letter-spacing: 1px;
      }            

th, td {
  border: 1px solid rgb(42, 40, 40);
  padding: 8px 12px;
  text-align: center;
}

thead tr, tfoot tr {
  background-color: rgb(0 0 0);
  color: white;
  font-weight: 700;
}

tr:nth-child(even) {
background-color: rgb(189, 184, 216)
}