nav{
    background-color: rgb(131, 168, 180);
    padding: 10px;
    display: block;
}
nav a{
    color: white;
    display: block;
    padding: 20px;
}
h1{
    color: #333;
}
img {
  width: 150px;
  height: auto;
  border: 1px solid lightgrey;
  padding: 2px;
}
p {
  padding: 0;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid lightgray;
  padding: 2px;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2); /* 1 */
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}
footer{
  text-align: center;
  margin-top: 1px;
  border-top: 1px solid #333;
}