:root{
  --heading-background-color: rgb(131, 168, 180);
  --heading-text-color: #333;
  --heading-font: 'Montserrat', Helvetica, san-serif;
  --padding: 16px;
  --border: 1px solid lightgray;
}

nav{
    background-color: var(--heading-background-color);
    padding: 10px;
    display: block;
}
nav a{
    color: white;
    display: block;
    padding: var(--padding);
    
}
h1{
  color: var(--heading-text-color);
  font-family: var(--heading-font);
}
img {
  width: 150px;
  height: auto;
  border: var(--border);
  padding: 2px;
  
}
p {
  padding: 0;
  
}
main {
  max-width: 1200px ;
}

main img {
  width: 150px;
  height: auto;
  border: var(--border);
  padding: 2px;
  box-shadow: 0 0 10px;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: var(--border);
  padding: var(--padding);
  color: #333;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}
footer{
  text-align: center;
  margin-top: 1px;
  border: var(--border);
}