* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color: rgb(131, 168, 180);
    --heading-text-color: #333;
    --heading-font: 'Montserrat', Helvetica, san-serif;
    --padding: 10px;
    --border: 1px solid lightgray;
}

/* --- Navigation Styles --- */
nav {
    background-color: var(--heading-background-color);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff; 
}
    /* justify-content and align-items are often redundant here if the parent (nav) handles layout */


/* --- Layout Styles --- */
 body {
   margin: 0;
   color: var(--heading-text-color);
 }

header,
 body,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

/* --- Main Content Styles --- */
main {
    margin: 1rem;
    display: grid;    
}
/* Corrected selector: using h1 element, not a class named .h1 */
main h1 { 

    color: var(--heading-text-color);
    font-family: var(--heading-font);
    border-bottom: 1px solid rgb(131, 168, 180); 
    grid-column: 2;
    text-align: center;
}

main img {
    width: 200px;
    height: auto;
    padding: 1rem;
    grid-column: 2;
    grid-row: 2/3;
    justify-self: right;  
}

main p {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 1rem;
    padding: 1rem;
}



/* --- Aside Styles --- */
aside {
  width: 20rem;
  height: auto;
  grid-row: 1/4;
  position: relative;
}

aside img {
    width: 300px;
    height: auto;
}

aside h2 {
    top: 50px;
    left: 55px;
    color: whitesmoke;
    position: relative;
}


/* --- Class Selectors --- */
.box {
    margin: 1rem;
    padding: 1rem;
    background-color: lightgray;
    color: #000;
}


/* --- Footer Styles --- */
footer {
    text-align: center;
    margin-top: 1px;
    border-top: 1px solid #333;
}

