* {
    box-sizing: border-box;
}
img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8)
    
}
header, main, footer {
    max-width: 800px;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: white;
    padding: 4px;
    text-align: center;
    font-size: 1.5rem;
}
main {
    width: 400px;
    margin: 0 auto;

}

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

section {
    margin: 2em 0;
    background-color: #ddd;
    padding: 1rem;

}

section h2 {
    text-align: left;
    border-bottom: solid #000;
    

}

footer {
    background-color: #333;
    padding: 1em;
    text-align: center;
    color: white;
}
